In [ ]:
import pandas as pd 
from pandasql import sqldf
products = pd.read_csv('../Data/ProductExample.csv')

se_products = pd.read_csv('../Data/ProductExample.csv')


df = sqldf("""
SELECT max(Amount) from products
union all
select min(Amount) from se_products
""")
print(df.to_string())

In [4]:
#import library
import pandas as pd 
from pandasql import sqldf
from sqlalchemy import create_engine

Re do the projects by pandas using dataframe:
    - Using for caculate method

In [ ]:
class redo_prj:
    def __init__(self):
        pass
    # create the rank file for student
    def read_json(self):
        students_rank = {
        "good": 0
        ,"medium": 0
        ,"weak": 0
        }
        path = "../Project/Generator/Data"
        dir_list = os.listdir(path)
        for i in dir_list:
            path_folder = path+"/"+i
            folder_list = os.listdir(path_folder)
            for j in folder_list:
                file_path = path_folder + "/" + j
                df = pd.read_json(file_path)
                for key in students_rank.keys():
                    number_st = df[df[key]]
                def
        return None

testing = redo_prj()
#testing.read_json()
df = pd.read_json("../Project/Generator/Data/10/10A8.json")
print(df)

CONNECT DATABASE

In [18]:
connection_string = 'mysql+pymysql://minhdung:020920@localhost/store'

engine = create_engine(connection_string)

conn = engine.connect()

pd.read_sql('SELECT * FROM company', conn)

  COMPANY_ID   COMPANY_NAME COMPANY_CITY
0         18      Order All     Boston\r
1         15  Jack Hill Ltd     London\r
2         16     Akas Foods      Delhi\r
3         17       Foodies.     London\r
4         19    sip-n-Bite.   New York\r

In [19]:
# READ CSV file

pd.read_csv('../Data/ProductExample.csv')

  ProductName  OrderId  Price  Amount
0  BlackCoffe        2  30000       5
1        Milk        1  25000       4
2     MilkTea        2  40000       3
3    CocaCola        5  15000       2
4       Pepsi        3  15000       3
5       Sting        1  15000       3
6    PeachTea        2  50000       3