In [6]:
import pandas as pd
from pandasql import sqldf

df = pd.read_csv("../01_data/05_examWriterResult_2.csv") # return a dataframe

# print(df.to_string())
# print(df.info()) # print the schema of dataframe

data = sqldf("""
    select * from df
    where amount > 2
""")
print(data.to_string())

         product_name  order_id  price  amount   total
0              coffee         1  15000       5   75000
1                milk         2  20000       7  140000
2               latte         3  17000       3   51000
3         fresh water         4  10000      10  100000
4        freeze latte         5  19000       5   95000
5        orange juice         5  18000       6  108000
6            milk tea         6  25000       7  175000
7             coconut         9  15000      11  165000
8         lemon juice        10  11000       5   55000
9   water melon juice        11  18000       7  126000
10         kiwi juice        11  21000       5  105000